body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: "Avenir";
    src: local("Avenir"), url("./assets/fonts/AvenirRegular.woff2") format("woff2"), url("./assets/fonts/AvenirRegular.otf") format("opentype");
}

@font-face {
    font-family: "TiemposBold";
    src: local("TiemposBold"), url("./assets/fonts/TiemposBold.woff2") format("woff2"), url("./assets/fonts/TiemposBold.otf") format("opentype");
}

@font-face {
    font-family: "TiemposRegular";
    src: local("TiemposRegular"), url("./assets/fonts/TiemposRegular.woff2") format("woff2"), url("./assets/fonts/TiemposRegular.otf") format("opentype");
}
